.home {
  background-image: url("../../static/bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.heading {
  margin-top: 2rem;
  margin-left: 2rem;
}

#exploreButton {
  margin: 2rem;
  padding: 1rem 2rem;
}

#createButton {
  margin: 1rem;
  padding: 1rem 2rem;
}

.imageList {
  padding-top: 1rem;
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .body {
    flex-direction: column;
  }
  .imageList {
    padding-right: 0;
  }
}
