.create {
  margin: 0 auto;
  max-width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  min-width: 240px;
  margin-top: 3.5rem;
  margin-left: 2rem;
  border: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.uploadImage {
  min-width: 400px;
  margin-top: 2rem;
}

#submitButton {
  margin-top: 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 600px) {
  .create {
    width: 100%;
  }

  fieldset {
    width: 100%;
    margin: 0;
  }

  .content {
    flex-direction: column;
  }

  .uploadImage {
    width: 100%;
  }
  
  .dropzone {
    margin-left: 2rem;
  }

  .closeIcon{
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
  }
    
}