.exploreBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.nfts {
  overflow: hidden;
}

#imageList {
  overflow: hidden;
  margin: 0 20px;
}
.allNfts {
  margin-top: 2rem;
  padding: 0 2rem;
}
